services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: devops-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - devops-network
    restart: unless-stopped
    volumes:
      - ./Backend:/app/backend
      - /app/backend/node_modules


  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: devops-frontend
    ports:
      - "80:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:3000
    networks:
      - devops-network
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  devops-network:
    driver: bridge
