name: CI/CD Workflow for Testing the PR requests

run-name: >+
    Testing workflow triggered by ${{ github.actor }}
    on branch: ${{ github.ref_name }}
    on event: ${{ github.event_name }}
    on repository: ${{ github.repository }}

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
    test-checks:
        name: Checking all tests on PR
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up React JS
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  cache: npm
            
            - name: Install dependencies
              run: |
                cd Frontend && npm ci
                cd ../Backend && npm ci

            - name: Run Frontend tests
              run: cd Frontend && npm test -- --watchAll=false

            - name: Run Backend tests
              run: cd Backend && npm test
    build:
        name: Building the React App
        runs-on: ubuntu-latest
        needs: test-checks
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up React JS
              uses: actions/setup-node@v3
              with:
                node-version: '18'
                cache: npm

            - name: Install dependencies
              run: |
                cd Frontend && npm ci
                cd ../Backend && npm ci

            - name: Build the React App
              run: cd Frontend && npm run build

            - name: Upload build artifacts
              uses: actions/upload-artifact@v3
              with:
                name: react-app-build
                path: Frontend/build/
    deploy:
        name: Deploying the App on Testing Environment before Merging to main
        runs-on: ubuntu-latest
        needs: build
        if: ${{ github.event.pull_request.base.ref == 'main' }}
        steps:
            - name: Download build artifacts
              uses: actions/download-artifact@v3
              with:
                name: react-app-build
            
            #- name: Deploy to Testing Environment
              #
            